<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Julie Blog's Home</title>

<!-- 	<link href="../webjars/bootstrap/3.2.0/css/bootstrap.min.css"></link> -->

	<link rel="stylesheet" href="../webjars/bootstrap/3.2.0/css/bootstrap.min.css" th:href="@{../webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />
	
	
	
	<link href="css/style.css"></link>
	<link href="../css/public.css"></link>

kkk






</head>
<body>



	<div class="container">
		<div class="header">

			<div>
				<span>Sign Up</span> <span>Log Out</span>
				
				<span>Sign Up</span> <span>Log Out</span>
				
				hello world
			</div>
		</div>
		<div id="blog-container" class="blog-container">
			
			
			
		
		
		
		
		</div>



		<div class="rooter"></div>
	</div>






</body>
</html>