<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Julie's Home</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}" />
    </head>
    <body>
    <div class = "container">
     	
     	<div class ="header"> 
     		<span>Julie</span>
     		<span>logout</span>
     		<span>sign up</span>
     	</div>
     	
     	
     	<div class ="attractive">
     	
			<h1>today is darkness , tomorrow will be better, the day after , better still.</h1>
     	
     	</div>
</div>

    </body>
</html>
